/* 
Project Name: Monthly Resolutions
Client: One Month
Author: Christopher Castig | @castig
*/


/*----------------------------------------------------------------------------- 
01=BASE   
-----------------------------------------------------------------------------*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

.clear {
	clear: both;
}


/*----------------------------------------------------------------------------- 
02=LAYOUT  
-----------------------------------------------------------------------------*/
body{
     background:url("../images/notebook.png");
     color: #000000;
     font-family: 'Lato', sans-serif;
     font-size: 100%;
}
#container{
     width: 80%;
     margin: 0 auto;
}
#header{
     padding: 40px 0 40px 0;
     font-size: x-large;
}
#header h1{
     margin-bottom: 0;
}
/*----------------------------------------------------------------------------- 
03=MAIN  
-----------------------------------------------------------------------------*/
#main{
     background-color: white;
     padding: 50px;
     width: 60%;
     margin-right: 10px;
     float: left;
}
#main div{
     margin: 0 0 100px 0;
}
#main h2{
     font-size: 40px;
}
#main .light-grey{
     color: lightgray;
}
#main .grey-text{
     color: grey;
}

#sidebar{
     background-color: white;
     width: 39%;
     float: left;
     padding: 50px;
     border-left: 2px solid grey;
}

a{
     text-decoration: none;
     color: brown;
}
#sidebar #links ul li{
     font-size: 20px;
}

#sidebar img{
     border-radius: 50%;
}
#sidebar div{
     margin-bottom: 50px;
}

#sidebar #quote{
     border-left: 5px solid lightgrey;
     padding-left: 20px;
     font-style: italic;
}
#sidebar #quote q{
     font-size: 20px;
}
#footer{
     font-size: 20px;
}